# <center> Loop, Conditional Control and Function

<img src = "https://github.com/saeed-saffari/UT-workshop-sum2021/blob/main/Lecture/PIC/Loops-in-Python.png?raw=true" >

# <center> Loop and Conditional Control 
## for

In [4]:
for num in [1,2,5,8,12,48]:
    print(num)

1
2
5
8
12
48

In [ ]:
for ... in ...:
    ...
    ...
    ...

In [7]:
users = ['Saeed', 'Yalda', 'Sajjad', 'Hadise', 'javad']
print(users)

['Saeed', 'Yalda', 'Sajjad', 'Hadise', 'javad']

In [8]:
users[1]

'Yalda'

In [11]:
for i in users:
    print(i)

Saeed
Yalda
Sajjad
Hadise
javad

In [18]:
for user in users:
    print('Hi')
    print(user)
print('Bye')

Hi
Saeed
Hi
Yalda
Hi
Sajjad
Hi
Hadise
Hi
javad
Bye

In [20]:
for user in users:
    print('Hi')
    print("Welcome, " + user + "!")
print('Welcome, We are glad to see all here!')

Hi
Welcome, Saeed!
Hi
Welcome, Yalda!
Hi
Welcome, Sajjad!
Hi
Welcome, Hadise!
Hi
Welcome, javad!
Welcome, We are glad to see all here!

In [22]:
for i in [1,5,6,14,27]:
    print(i*i)

1
25
36
196
729

In [24]:
for i in 'Python Course':
    print(i.upper())

P
Y
T
H
O
N

C
O
U
R
S
E

In [26]:
list(range(3,10))

[3, 4, 5, 6, 7, 8, 9]

In [ ]:
for i in range(3,10):
    print(i)

In [39]:
squares = []
for j in range(1, 20):
    square = j**2
    squares.append(square)
    #squares.append(j**2)    # second solution

print(list(range(1,20)))
print(squares)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361]

In [30]:
squares = []
for j in range(1, 20):
    square = j**2
    squares.append(square)
    print(square)

1
4
9
16
25
36
49
64
81
100
121
144
169
196
225
256
289
324
361

In [34]:
list_sum = 0

for i in range(1,11):
    #print(i)
    list_sum = i + list_sum
    
    print(list_sum)

1
3
6
10
15
21
28
36
45
55

In [1]:
for i in {'Iran': 43, 'USA': 12, 'UK': 4}:
    print(i)

Iran
USA
UK

## while (pass, continue, break)

<img src = "https://github.com/saeed-saffari/UT-workshop-sum2021/blob/main/Lecture/PIC/Looping.jpg?raw=true">

In [8]:
n = 0
while n < 10:
    print(n)
    #n = n + 1
    n += 1

1
2
3
4
5
6
7
8
9
10

In [12]:
x = 1

while x > 1e-4:   # 10 ^ (-4) 
    print(x)
    x = x / 5
    #print(x)

1
0.2
0.04
0.008
0.0016
0.00032

In [14]:
x = [1,2,4]
for item in x:
    #comment
    pass

## if, elif , else

<img src = "https://github.com/saeed-saffari/UT-workshop-sum2021/blob/main/Lecture/PIC/if-else.jpg?raw=true" width = "650">

In [16]:
3 < 2

False

In [19]:
if 3 < 2:
    print('That is True!')

In [24]:
age = int(input('Enter your age: '))
age

Enter your age: 26

26

In [25]:
type(age)

int

In [27]:
age = int(input('Enter your age: '))

if age >= 18:
    print('You are old enought to vote!')
else:
    print('You can NOT vote yet!')

Enter your age: 12
You can NOT vote yet!

In [29]:
age = int(input('Enter your age: '))

if age >= 18:
    print('You are old enought to vote!')
else:
    print('You can NOT vote yet!')
    print("you can will vote after " + str(18 - age) + " years.")
    print("you can will vote after {} years.".format(18 - age))

Enter your age: 15
You can NOT vote yet!
you can will vote after 3 years.
you can will vote after 3 years.

In [4]:
age = int(input('Enter your age: '))

if age <= 4:
    price = 0
elif age <= 16:
    price = 5
else:              # elif age > 16:
    price = 10
    
print("your cost is ${}.".format(price))

Enter your age: 24
your cost is $10.

In [15]:
grade = 'C'

if grade == 'A':
    print('Well done!')
elif grade == 'B':
    print('Try more')
elif grade == 'C':           #else:
    print('Fail')
else:
    print('Unvalid')

Fail

In [18]:
my_list = [1,3,4,18,234,547]

for num in my_list:
    if num % 2 == 0:
        print(num, 'is EVEN numver!')
    #else:
    #    print('ODD')
    elif num % 2 != 0:   # num % 2 == 1
        print(num, 'is ODD number!')

1 is ODD number!
3 is ODD number!
4 is EVEN numver!
18 is EVEN numver!
234 is EVEN numver!
547 is ODD number!

<img src = "https://github.com/saeed-saffari/UT-workshop-sum2021/blob/main/Lecture/PIC/whlie%20expr.png?raw=true" width = "400">

In [20]:
mystring = 'nothing'
for letter in mystring:
    if letter == 't':
        continue
    print(letter)

n
o
h
i
n
g

In [23]:
mystring = 'nothing'
for letter in mystring:
    if letter == 't':
        break
    print(letter)

n
o

In [3]:
x = 0
while x < 5:
    if x == 3:
        break
    print(x)
    x += 1

0
1
2

## <center> Function

<img src = "https://github.com/saeed-saffari/UT-workshop-sum2021/blob/main/Lecture/PIC/python-functions.gif?raw=true" width = "1000" >

In [ ]:
def test_1():
    ...
    ...
    ...
    return ...

In [ ]:
def test_2():
    ...
    ...
    ...
    print(...)

In [ ]:
test_1()
test_2()

In [ ]:
def test_3(x, y , z):
    ...
    ...
    ...
    print(...) # return ...

In [ ]:
test_3(2,45,21)

In [ ]:
def test_4():
    ...
    ...
    ...

## - Example

In [4]:
def echo(i):
    print(i)

In [5]:
echo

In [8]:
echo("Salaaam!")

Salaaam!

In [10]:
echo('Python Course')

Python Course

In [11]:
x = echo("Salaaam!")

Salaaam!

In [12]:
print(x)

None

In [13]:
def mean3(x,y,z):
    return (x+y+z)/3

In [14]:
mean3(12, 34, -54.3)

-2.7666666666666657

In [19]:
mean3(12, 34, 32)

26.0

In [15]:
def mean_3():
    first_number = float(input('Enter yout first number: '))
    second_number = float(input('Enter yout second number: '))
    third_number = float(input('Enter yout third number: '))
    
    summ = first_number + second_number + third_number
    ave = summ / 3
    return ave

In [16]:
mean_3()

Enter yout first number: 23.5
Enter yout second number: 65.2
Enter yout third number: -34

18.233333333333334

In [21]:
mean_3()

Enter yout first number: 2
Enter yout second number: 3
Enter yout third number: 4

3.0

In [25]:
def hello():
    name = input('Enter your name: ')
    
    if name:
        print('Hello ' + name + '!')
    else:
        print('Hello world!')
        
hello()

Enter your name: Saeed
Hello Saeed!

In [26]:
def price():
    
    age = int(input('Enter your age: '))

    if age <= 4:
        price = 0
    elif age <= 16:
        price = 5
    else:              # elif age > 16:
        price = 10
    
    print("your cost is ${}.".format(price))
    
price()

Enter your age: 25
your cost is $10.

In [27]:
# Guess number

In [42]:
import random
cump_num = random.randint(1, 100)
cump_num

29

In [43]:
def guess_number():
    user_num = int(input('Enter you guess number: '))
    
    
    while user_num != cump_num:
        if user_num > cump_num:
            print('Enter a smaller one!')
        elif user_num < cump_num:
            print('Enter a bigger one!')
        
        user_num = int(input('Enter you guess number: '))
        
    print('Well DONE!')

In [45]:
guess_number()

Enter you guess number: 10
Enter a bigger one!
Enter you guess number: 45
Enter a smaller one!
Enter you guess number: 30
Enter a smaller one!
Enter you guess number: 28
Enter a bigger one!
Enter you guess number: 29
Well DONE!

In [46]:
# Contact

def contact():
    contact = {}
    
    name  = input('Enter your name: ')
    phone = input('Enter phone number: ')
    email = input('Enter email id: ')
    
    contact[name] = phone, email
    return contact

contact()

Enter your name: Saeed
Enter phone number: 09199193216
Enter email id: m.saeed1024@yahoo.com

{'Saeed': ('09199193216', 'm.saeed1024@yahoo.com')}

In [50]:
# Contact

def contact():
    contact = {}
    
    name  = input('Enter your name: ')
    
    #09199193216
    phone = input('Enter phone number: ')
    
    while len(phone) != 11 or not phone.isdigit():
        print('Invalid phome number!')
        phone = input('Enter phone number: ')
    
    email = input('Enter email id: ')
    
    while email.find('@') == -1:
        print('Invalid enail id!')
        email = input('Enter email id: ')
    
    
    contact[name] = phone, email
    return contact

contact()

Enter your name: saeed
Enter phone number: 0191912
Invalid phome number!
Enter phone number: asdasd
Invalid phome number!
Enter phone number: 09199193216
Enter email id: asdjfbsdkajf
Invalid enail id!
Enter email id: kjksdvsdaf
Invalid enail id!
Enter email id: m.saeed1024@yahoo.com

{'saeed': ('09199193216', 'm.saeed1024@yahoo.com')}

In [53]:
s = '123456'
s.isdigit()

True

In [54]:
# Contact

def contact():
    contact = {}
    
    
    while True:                                # new
        name  = input('Enter your name: ')
        
        if name == 'end':                      # new
            break                              # new
        
        #09199193216
        phone = input('Enter phone number: ')
        
        while len(phone) != 11 or not phone.isdigit():
            print('Invalid phome number!')
            phone = input('Enter phone number: ')
        
        email = input('Enter email id: ')
        
        while email.find('@') == -1:
            print('Invalid enail id!')
            email = input('Enter email id: ')
        
        
        contact[name] = phone, email
    return contact

contact()

Enter your name: saeed
Enter phone number: 019991913216
Invalid phome number!
Enter phone number: m.saeed1024@yahoo.com
Invalid phome number!
Enter phone number: 019991913216
Invalid phome number!
Enter phone number: 09199193216
Enter email id: m.saeed1024@yahoo.com
Enter your name: javad
Enter phone number: 09199193213
Enter email id: javad@ gamil.com
Enter your name: end

{'saeed': ('09199193216', 'm.saeed1024@yahoo.com'),
 'javad': ('09199193213', 'javad@ gamil.com')}

In [58]:
x = 'pythoon course'
x.find('@')

-1

In [59]:
cont = contact()
cont

Enter your name: Saeed
Enter phone number: 09199193216
Enter email id: m.saeed1024@yahoo.com
Enter your name: Javad
Enter phone number: 09199193213
Enter email id: javad@gmail.com
Enter your name: end

{'Saeed': ('09199193216', 'm.saeed1024@yahoo.com'),
 'Javad': ('09199193213', 'javad@gmail.com')}

In [61]:
cont['Javad']

('09199193213', 'javad@gmail.com')

In [62]:
cont['Saeed']

('09199193216', 'm.saeed1024@yahoo.com')

In [63]:
for i in cont:
    print(i)

Saeed
Javad

In [65]:
for i in cont:
    print(i)
    print(cont.get(i))

Saeed
('09199193216', 'm.saeed1024@yahoo.com')
Javad
('09199193213', 'javad@gmail.com')

### lambda

In [66]:
m = lambda x, y, z : (x+y+z)/3

In [67]:
m(12,45,-23)

11.333333333333334

### - Diffrence between return and print:

In [78]:
def fun1(x1):
    x1 = x1 + 2
    print(x1)
    
def fun2(x1):
    return x1 + 2

x1 = 3

print(x1)
print('---------')

print(x1)
print(fun1(x1))
#print(fun1(x1)*2)
print('***********')


print(x1)
print(fun2(x1))
print(fun2(x1)*2)

print('_*_*_*_*_*')

3
---------
3
5
None
***********
3
5
10
_*_*_*_*_*