# <center> Data Structure Basic

## Jupyter notebook

<img src = "https://github.com/saeed-saffari/UT-workshop-sum2021/blob/main/Lecture/PIC/jupyter.png?raw=true">

In [3]:
# kernels

In [4]:
# hotkey

In [8]:
x = 2  # first number
# comment

In [10]:
# markdown

Hi, This is markdown cell.

$ \alpha = \beta = \frac{\alpha}{\sqrt{\beta}} $

# <center> Basic

In [11]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

## Arithmetic Operators
| Symbol | Task Performed |
|:----:|:---:|
| +  | Addition |
| -  | Subtraction |
| /  | division |
| %  | mod |
| *  | multiplication |
| //  | floor division |
| **  | to the power of |

In [12]:
2 + 4

6

In [15]:
  6- 2

4

In [16]:
5 * 3

15

In [17]:
5 / 3

1.6666666666666667

In [18]:
5 // 2

2

In [19]:
5 % 2

1

In [21]:
6 ** 3

216

In [22]:
5 + ( 4 - 3 * 2)**3 + 1

-2

In [23]:
a = 5 + ( 4 - 3 * 2)**3 + 1

In [24]:
a

-2

In [25]:
a + 2

0

In [26]:
a

-2

In [27]:
a = a + 2

In [28]:
a

0

In [34]:
b = 100
b = 20
b = b * 3
b = b - 15
# b = 10

print(b)

45

In [35]:
x = 4
y = 9

In [36]:
print(x * y)

36

In [37]:
print(x - y)

-5

In [38]:
print(x+y)
print(x//3)
print(78%y)

13
1
6

In [43]:
a = -125
print(a)

-125

In [44]:
abs(a)

125

In [45]:
a

-125

In [46]:
a = abs(a)
print(a)

125

## Relational Operators

| Symbol | Task Performed |
|:----:  |:---:|
|=	     |Assignment|
|==      |True, if it is equal|
|!=      |True, if not equal to|
|<	     |less than|
|>	     |greater than|
|<=      |less than or equal to|
|>=      |greater than or equal to|

In [48]:
x = 5
y = 7

In [52]:
print(x==y)
print(x==5)
print(x!=y)

False
True
True

In [56]:
print(x > y)
print(x > 4)
print(y<=7)
print(y<7)

False
True
True
False

In [57]:
x > 1 and y < 10

True

In [58]:
x > 1 and y > 10

False

In [59]:
x > 1 or y > 10

True

In [67]:
5 < y < 10

True

In [62]:
5 < y <= 7

True

## Type
| Types | Example |
| :--: | :--: |
| string | "Hello" ,  'World' |
| integer | 1 , 2 , 3 |
| float | 1.2 , 4.6 , 112.6 |
| boolian | True , Flase |

In [68]:
type

type

In [69]:
type(123)

int

In [70]:
b = 'Economics'

In [71]:
b

'Economics'

In [72]:
type(b)

str

In [77]:
print(type(b))
print(type(123))
print(type(4.78))
print(type(True))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>

In [79]:
x = 4.8
print(x)
type(x)

4.8

float

In [81]:
int(x) * 2

8

In [82]:
c = 64
print(c)
type(c)

64

int

In [83]:
float(c)

64.0

In [86]:
v = "345"
type(v)
v

'345'

In [85]:
int(v)

345

In [87]:
a = 'python workshop'
print(a)

python workshop

In [88]:
type(a)

str

In [93]:
a * 2

'python workshoppython workshop'

In [91]:
a + a

'python workshoppython workshop'

In [94]:
a.capitalize()

'Python workshop'

In [97]:
s1 = 'Hi, this is python course!'
s2 = "It's good to see you here!"
print(s1)
print(s2)

Hi, this is python course!
It's good to see you here!

In [100]:
s1.count('i')

3

In [102]:
s1.find('H')

0

In [104]:
s1.find('z')

-1

In [107]:
s3 = s2.upper()
s3
#lower

"IT'S GOOD TO SEE YOU HERE!"

In [111]:
s1.replace('H', 'M')

'Mi, this is python course!'

In [110]:
s1.replace('H', '2')

'2i, this is python course!'

In [113]:
s1.replace('python', 'Economics')

'Hi, this is Economics course!'

In [114]:
s1

'Hi, this is python course!'

In [115]:
s1.split(',')

['Hi', ' this is python course!']

In [116]:
s1.split('t')

['Hi, ', 'his is py', 'hon course!']

In [117]:
s1.split(' ')

['Hi,', 'this', 'is', 'python', 'course!']

In [118]:
n1 = 'abcd'
n2 = 'zxcv'

In [119]:
n1 * 2

'abcdabcd'

In [120]:
n1 + n2

'abcdzxcv'

## List

In [176]:
# [ , , , , , , , , ]
x = [1,2,3,4,5,6,7,8,9,10]
print(x)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [122]:
type(x)

list

In [123]:
type([])

list

In [175]:
y = [2,123,-346, 'python', '231', [3,5,9]]
print(y)

[2, 123, -346, 'python', '231', [3, 5, 9]]

In [125]:
type(y)

list

In [126]:
x

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [127]:
x[4]

5

In [128]:
x[-3]

8

In [129]:
x[-1]

10

In [130]:
x[3:6]

[4, 5, 6]

In [131]:
x[3:-1]

[4, 5, 6, 7, 8, 9]

In [132]:
x[3:]

[4, 5, 6, 7, 8, 9, 10]

In [133]:
x[:3]

[1, 2, 3]

In [134]:
x[:]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [135]:
x[1:7]

[2, 3, 4, 5, 6, 7]

In [136]:
# [<begin> : <end> : <step>]
x[1:7:2]

[2, 4, 6]

In [138]:
x[::-1]

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [139]:
x

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [140]:
x * 2

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [180]:
x = x + [4]

In [181]:
x

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 4]

In [183]:
x.sort()
x

[1, 2, 3, 4, 4, 5, 6, 7, 8, 9, 10]

In [144]:
y = [1,2,3,4,5]
print(y)

[1, 2, 3, 4, 5]

In [145]:
y.append(6)
y

[1, 2, 3, 4, 5, 6]

In [146]:
x

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [147]:
x.clear()
x

[]

In [150]:
y

[1, 2, 3, 4, 5, 6]

In [149]:
# remove
# pop

In [151]:
y.remove(2) # number
y

[1, 3, 4, 5, 6]

In [152]:
y.pop(0) # index
y

[3, 4, 5, 6]

In [153]:
y.pop(-1)

6

In [154]:
y

[3, 4, 5]

In [155]:
y.append(9)

In [156]:
y

[3, 4, 5, 9]

In [157]:
y.reverse()

In [158]:
y

[9, 5, 4, 3]

In [159]:
y[::-1]

[3, 4, 5, 9]

In [1]:
x = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
x

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [3]:
x[0:4] + ['IN'] + x[4:]

[1, 2, 3, 4, 'IN', 5, 6, 7, 8, 9, 10]

In [4]:
x.insert(0, 'Out')
x

['Out', 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [5]:
x.insert(5, 'python')
x

['Out', 1, 2, 3, 4, 'python', 5, 6, 7, 8, 9, 10]

## Dictionary

In [160]:
type({})

dict

In [ ]:
# { : , : , : , : , : }

In [194]:
score = { 'math' : 19 , 'lit' : 18 , 'econ' : 20 , 'gio' : 16, 'Phy' : 18}
print(score)

{'math': 19, 'lit': 18, 'econ': 20, 'gio': 16, 'Phy': 18}

In [164]:
type(score)

dict

In [167]:
score['math']

19

In [169]:
print(score["econ"])

20

In [195]:
score.keys()

dict_keys(['math', 'lit', 'econ', 'gio', 'Phy'])

In [196]:
score.values()

dict_values([19, 18, 20, 16, 18])

In [ ]:
# sum

#### Other type

In [2]:
tuple
# set

tuple

In [172]:
v = (1,2,4,5,6)
print(v)
type(v)

(1, 2, 4, 5, 6)

tuple

In [173]:
v[3]

5

In [184]:
import numpy as np

In [185]:
x

[1, 2, 3, 4, 4, 5, 6, 7, 8, 9, 10]

In [186]:
x1 = np.array(x)
print(x1)

[ 1  2  3  4  4  5  6  7  8  9 10]

In [187]:
type(x1)

numpy.ndarray

In [189]:
x1 * 2

array([ 2,  4,  6,  8,  8, 10, 12, 14, 16, 18, 20])

In [190]:
x * 2

[1, 2, 3, 4, 4, 5, 6, 7, 8, 9, 10, 1, 2, 3, 4, 4, 5, 6, 7, 8, 9, 10]

In [192]:
b = 5 + ( 10 - 3 * 4)**3 + 1
b

-2

In [5]:
x = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
x

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [6]:
x[0:4] + ['IN'] + x[4:]

[1, 2, 3, 4, 'IN', 5, 6, 7, 8, 9, 10]